extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h3.display-4.m-b-2 Create Official

        form(method='POST' action='/api/official')
          div.form-group
            label(for='name') Official Name:
            input#name.form-control(type='text', placeholder='first and last' name='name' required)
          div.form-group
            label(for='id') Official ID:
            input#name.form-control(type='text', placeholder='ID' name='id' required)
          div.form-group
            label(for='designation') Designation:
            input#name.form-control(type='text', placeholder='Designation' name='designation' required)
          button.btn.btn-primary(type='submit') Submit