extends layout
block content
  div.col-xs-12.no_padding.headerSection
    div.navbar.navbar-inverse.menulist
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#') Digital Identity Application
  
  div.col-xs-12.no_padding.bodySection
    div.col-xs-12.addGovernmentPage
      h4(style='background-color:  black; color:  white;  margin-top: 5px;')
        label(style='margin: 10px 0 10px 40px;')
          | Home Page

      div.container.col-xs-12(style='margin-top: 30px') 
        div.col-xs-12
          div.col-xs-3
            label(for='name') Add Passport:
          div.col-xs-5
            a(href='./passport-form')
              button#addPassport.btn.btn-primary.form-control(type='button')| Click to add new passport
        div.col-xs-12
          div.col-xs-3
            label(for='name') Verify Passport:
          div.col-xs-5
            a(href='./verify-passport-form')
              button#verifyPassport.btn.btn-primary.form-control(type='button')| Click to verify passport
        div.col-xs-12
          div.col-xs-3
            label(for='name') Add Government:
          div.col-xs-5
            a(href='./government-form')
              button#addGovernment.btn.btn-primary.form-control(type='button')| Click to add new government
        div.col-xs-12
          div.col-xs-3
            label(for='name') Add Official:
          div.col-xs-5
            a(href='./official-form')
              button#addOfficial.btn.btn-primary.form-control(type='button')| Click to add new official

  div.col-xs-12.no_padding.footerSection
    label.control-label 
      | Copyright © 2018 A.K.R.R. All Rights Reserved.