extends layout
block content
  div.col-xs-12.no_padding.headerSection
    div.navbar.navbar-inverse.menulist
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#') Digital Identity Application
    
    div.col-xs-offset-4.col-xs-4
      p#result
  
  h2 Welcome. Please Select the action.
  br
  div.col-xs-4
    a.btn.btn-primary(href='/government-form') Add Government
  div.col-xs-4
    a.btn.btn-primary(href='/passport-form') Add Passport
  div.col-xs-4
    a.btn.btn-primary(href='/view-passport-form') View Passport
  
  div.col-xs-12.no_padding.footerSection(style='bottom:0;width:100%;position:fixed')
    label.control-label 
      | Copyright © 2018 A.K.R.R. All Rights Reserved.