extends layout
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h3.display-4.m-b-2 Create Passport
        form(action='/api/passport',method='POST',enctype='multipart/form-data')
          div.form-group
            label(for='passport-id') Passport ID
            input#passport-id.form-control(type='text', name='passport-id')
          div.form-group
            label(for='name') Name
            input#name.form-control(type='text', name='name')
          div.form-group
            input#gender-male(type='radio', name='gender', value='male')
            |  Male
            br
            input#gender-female(type='radio', name='gender', value='female')
            |  Female
            br
          div.form-group
            label(for='DOB') Date of Birth
            input#DOB.form-control(type='date', name='DOB')
          div.form-group
            label(for='fathersName') Father's Name
            input#fathersName.form-control(type='text', name='fathersName')
          div.form-group
            label(for='mothersName') Mother's Name
            input#mothersName.form-control(type='text', name='mothersName')
          div.form-group
            label(for='countryName') Country Name
            input#countryName.form-control(type='text', name='countryName')
          div.form-group
            label(for='nationality') Nationality
            input#nationality.form-control(type='text', name='nationality')
          div.form-group
            label(for='placeOfBirth') Place Of Birth
            input#placeOfBirth.form-control(type='text', name='placeOfBirth')
          div.form-group
            label(for='placeOfIssue') Place of Issue
            input#placeOfIssue.form-control(type='text', name='placeOfIssue')
          div.form-group
            label(for='issueDate') Issue Date
            input#issueDate.form-control(type='date', name='issueDate')
          div.form-group
            label(for='expiryDate') Passport Expiry Date
            input#expiryDate.form-control(type='date', name='expiryDate')
          div.form-group
            label(for='idPhoto') Photo
            input#idPhoto.form-control(type='file', name='idPhoto')
          div.form-group
            label(for='signPhoto') Signature Photo
            input#signPhoto.form-control(type='file', name='signPhoto')
          input#submit-btn.btn.btn-primary(type='submit', value='Submit')